@import "tailwindcss";

@theme {
  /* COLORS */
  --color-light-primary: rgb(5 107 91);
  --color-light-surface-tint: rgb(5 107 91);
  --color-light-on-primary: rgb(255 255 255);
  --color-light-primary-container: rgb(160 242 222);
  --color-light-on-primary-container: rgb(0 32 26);
  --color-light-secondary: rgb(74 99 93);
  --color-light-on-secondary: rgb(255 255 255);
  --color-light-secondary-container: rgb(205 232 224);
  --color-light-on-secondary-container: rgb(6 32 27);
  --color-light-tertiary: rgb(67 98 120);
  --color-light-on-tertiary: rgb(255 255 255);
  --color-light-tertiary-container: rgb(200 230 255);
  --color-light-on-tertiary-container: rgb(0 30 47);
  --color-light-error: rgb(186 26 26);
  --color-light-on-error: rgb(255 255 255);
  --color-light-error-container: rgb(255 218 214);
  --color-light-on-error-container: rgb(65 0 2);
  --color-light-background: rgb(245 251 247);
  --color-light-on-background: rgb(23 29 27);
  --color-light-surface: rgb(245 251 247);
  --color-light-on-surface: rgb(23 29 27);
  --color-light-surface-variant: rgb(219 229 224);
  --color-light-on-surface-variant: rgb(63 73 70);
  --color-light-outline: rgb(111 121 118);
  --color-light-outline-variant: rgb(190 201 197);
  --color-light-shadow: rgb(0 0 0);
  --color-light-scrim: rgb(0 0 0);
  --color-light-inverse-surface: rgb(43 50 48);
  --color-light-inverse-on-surface: rgb(236 242 239);
  --color-light-inverse-primary: rgb(132 214 195);
  --color-light-primary-fixed: rgb(160 242 222);
  --color-light-on-primary-fixed: rgb(0 32 26);
  --color-light-primary-fixed-dim: rgb(132 214 195);
  --color-light-on-primary-fixed-variant: rgb(0 81 68);
  --color-light-secondary-fixed: rgb(205 232 224);
  --color-light-on-secondary-fixed: rgb(6 32 27);
  --color-light-secondary-fixed-dim: rgb(177 204 196);
  --color-light-on-secondary-fixed-variant: rgb(51 75 69);
  --color-light-tertiary-fixed: rgb(200 230 255);
  --color-light-on-tertiary-fixed: rgb(0 30 47);
  --color-light-tertiary-fixed-dim: rgb(171 202 228);
  --color-light-on-tertiary-fixed-variant: rgb(43 74 95);
  --color-light-surface-dim: rgb(213 219 216);
  --color-light-surface-bright: rgb(245 251 247);
  --color-light-surface-container-lowest: rgb(255 255 255);
  --color-light-surface-container-low: rgb(239 245 241);
  --color-light-surface-container: rgb(233 239 236);
  --color-light-surface-container-high: rgb(227 234 230);
  --color-light-surface-container-highest: rgb(222 228 224);

  /* FONT */
  --text-display-large: 3.5625rem; /* 57px */
  --text-display-large--line-height: 4rem; /* 64px */
  --text-display-large--letter-spacing: -0.015625rem; /* -0.25px */
  --text-display-large--font-weight: 400;

  --text-display-medium: 2.8125rem; /* 45px */
  --text-display-medium--line-height: 3.25rem; /* 52px */
  --text-display-medium--letter-spacing: 0rem;
  --text-display-medium--font-weight: 400;

  --text-display-small: 2.25rem; /* 36px */
  --text-display-small--line-height: 2.75rem; /* 44px */
  --text-display-small--letter-spacing: 0rem;
  --text-display-small--font-weight: 400;

  --text-headline-large: 2rem; /* 32px */
  --text-headline-large--line-height: 2.5rem; /* 40px */
  --text-headline-large--letter-spacing: 0rem;
  --text-headline-large--font-weight: 400;

  --text-headline-medium: 1.75rem; /* 28px */
  --text-headline-medium--line-height: 2.25rem; /* 36px */
  --text-headline-medium--letter-spacing: 0rem;
  --text-headline-medium--font-weight: 400;

  --text-headline-small: 1.5rem; /* 24px */
  --text-headline-small--line-height: 2rem; /* 32px */
  --text-headline-small--letter-spacing: 0rem;
  --text-headline-small--font-weight: 400;

  --text-title-large: 1.375rem; /* 22px */
  --text-title-large--line-height: 1.75rem; /* 28px */
  --text-title-large--letter-spacing: 0rem;
  --text-title-large--font-weight: 400;

  --text-title-medium: 1rem; /* 16px */
  --text-title-medium--line-height: 1.5rem; /* 24px */
  --text-title-medium--letter-spacing: 0.009375rem; /* 0.15px */
  --text-title-medium--font-weight: 500;

  --text-title-small: 0.875rem; /* 14px */
  --text-title-small--line-height: 1.25rem; /* 20px */
  --text-title-small--letter-spacing: 0.00625rem; /* 0.1px */
  --text-title-small--font-weight: 500;

  --text-body-large: 1rem; /* 16px */
  --text-body-large--line-height: 1.5rem; /* 24px */
  --text-body-large--letter-spacing: 0.03125rem; /* 0.5px */
  --text-body-large--font-weight: 400;

  --text-body-medium: 0.875rem; /* 14px */
  --text-body-medium--line-height: 1.25rem; /* 20px */
  --text-body-medium--letter-spacing: 0.015625rem; /* 0.25px */
  --text-body-medium--font-weight: 400;

  --text-body-small: 0.75rem; /* 12px */
  --text-body-small--line-height: 1rem; /* 16px */
  --text-body-small--letter-spacing: 0.025rem; /* 0.4px */
  --text-body-small--font-weight: 400;

  --text-label-large: 0.875rem; /* 14px */
  --text-label-large--line-height: 1.25rem; /* 20px */
  --text-label-large--letter-spacing: 0.00625rem; /* 0.1px */
  --text-label-large--font-weight: 500;

  --text-label-medium: 0.75rem; /* 12px */
  --text-label-medium--line-height: 1rem; /* 16px */
  --text-label-medium--letter-spacing: 0.03125rem; /* 0.5px */
  --text-label-medium--font-weight: 500;

  --text-label-small: 0.6875rem; /* 11px */
  --text-label-small--line-height: 1rem; /* 16px */
  --text-label-small--letter-spacing: 0.03125rem; /* 0.5px */
  --text-label-small--font-weight: 500;
}

:root {
  font-family: Inter, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
}

body {
  min-width: 320px;
}
